@font-face {
  font-family: "bodoni svtytwo sc itc tt book";
  src: url(../fonts/bodoni-svtytwo-sc-itc-tt-book.ttf);
}

body {
  font-family: "Poppins", sans-serif;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
  background-image: url(../images/body-bg.jpg);
  background-size: cover;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading_container h2 {
  font-size: 2.5rem;
  position: relative;
  font-weight: bold;
  margin-bottom: 0;
  font-family: "bodoni svtytwo sc itc tt book", sans-serif;
  font-weight: 400;
  padding-bottom: 7px;
}

.heading_container h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 75px;
  height: 5px;
  background-color: #ff0019;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.box-img {
  width: 100%;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url(../images/hero-bg.jpg);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.sub_page .hero_area {
  background-size: cover;
  background-position: top;
}

.header_section {
  padding: 15px 0;
}

.custom_nav-container {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
}

.navbar-brand {
  margin: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #ffffff;
}

.User_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: 75px;
}

.User_option a {
  color: #ffffff;
  margin-left: 25px;
}

.User_option .form-inline {
  position: relative;
  margin-left: 25px;
}

.User_option .form-inline input {
  display: none;
}

.User_option .form-inline button {
  color: #ffffff;
}

.custom_menu-btn {
  z-index: 9;
  position: absolute;
  right: 0;
  top: 14px;
}

.custom_menu-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.custom_menu-btn button img {
  width: 40px;
}

.menu_btn-style {
  position: fixed;
  right: 15px;
  top: 29px;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: black;
  /* background-color: rgba(72, 85, 254, 0.95); */
  background-color: #3378e4;
  opacity: 0.95;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 60px;
}

.overlay a {
  padding: 0px;
  text-decoration: none;
  font-size: 22px;
  color: #ffffff;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.menu_width {
  width: 100%;
}

.menu_width.overlay a {
  opacity: 1;
}

/*end header section*/
/* slider section */
.slider_section {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 75px;
  padding-bottom: 425px;
  position: relative;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section #customCarousel1 {
  width: 100%;
  position: unset;
}

.slider_section .detail-box {
  color: #ffffff;
  text-align: center;
}

.slider_section .detail-box h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "bodoni svtytwo sc itc tt book", sans-serif;
  font-weight: 400;
}

.slider_section .detail-box h1 span {
  color: #3378e4;
}

.slider_section .find_container .form-row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.slider_section .find_container form .form-group {
  margin: 15px 0;
}

.slider_section .find_container form .form-control {
  width: 100%;
  background-color: transparent;
  border: none;
  height: 45px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 5px;
  padding: 0 15px;
  background-color: #ffffff;
  border-radius: 45px;
  position: relative;
}

.slider_section .find_container form .location_icon {
  position: absolute;
  right: 25px;
  top: 10px;
  color: #eaeae8;
}

.slider_section .find_container form .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .find_container form .btn-box button.btn {
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 10px 25px;
  background-color: #ffe537;
  color: #000000;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ffe537;
  outline: none;
  text-transform: uppercase;
}

.slider_section .find_container form .btn-box button.btn:hover {
  background-color: transparent;
  color: #ffe537;
}

.slider_section .slider_container {
  margin-top: 150px;
  position: absolute;
  z-index: 2;
  bottom: 0;
  width: 100%;
}

.slider_section .slider_container .slick-list {
  width: 80%;
  margin: auto;
}

.slider_section .slider_container .img-box {
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-left: 10px;
  margin-right: 10px;
}

.slider_section .slider_container .img-box img {
  width: 100%;
  border: 10px solid #1a1a19;
  border-radius: 100%;
}

.slider_section .slider_container .slick-active .img-box {
  margin-top: 45px;
}

.slider_section .slider_container .slick-active+.slick-active .img-box {
  margin-top: 0;
}

.slider_section .slider_container .slick-active+.slick-active+.slick-active .img-box {
  margin-top: 0;
}

.slider_section .slider_container .slick-active+.slick-active+.slick-active+.slick-active .img-box {
  margin-top: 45px;
}

.slider_section .slider_container .slick-prev,
.slider_section .slider_container .slick-next {
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #ffe537;
  border-radius: 100%;
  font-size: 12px;
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  outline: none;
  position: absolute;
  top: 72%;
  margin: 0;
}

.slider_section .slider_container .slick-prev:hover,
.slider_section .slider_container .slick-next:hover {
  background-color: #3378e4;
  color: #ffffff;
}

.slider_section .slider_container .slick-prev {
  left: 45px;
  -webkit-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.slider_section .slider_container .slick-prev:after {
  content: "\f060";
  font-family: 'FontAwesome';
}

.slider_section .slider_container .slick-next {
  right: 45px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.slider_section .slider_container .slick-next:after {
  content: "\f061";
  font-family: 'FontAwesome';
}

.recipe_section .box {
  text-align: center;
  margin-top: 45px;
}

.recipe_section .box .img-box img {
  border-radius: 0 45px 0 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recipe_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.recipe_section .box .detail-box h4 {
  font-family: "bodoni svtytwo sc itc tt book", sans-serif;
  font-weight: 400;
}

.recipe_section .box .detail-box a {
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #3378e4;
  border-radius: 100%;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.recipe_section .box .detail-box a:hover {
  background-color: #ffe537;
  color: #000000;
}

.recipe_section .box:hover .img-box img {
  -webkit-filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
}

.recipe_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.recipe_section .btn-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #ffe537;
  color: #000000;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ffe537;
  outline: none;
}

.recipe_section .btn-box a:hover {
  background-color: transparent;
  color: #ffe537;
}

.app_section {
  background-image: url(../images/app-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 225px 0 175px 0;
  color: #ffffff;
}

.app_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.app_section .detail-box h2 {
  margin-bottom: 25px;
}

.app_section .detail-box h2 span {
  color: #ffe537;
}

.app_section .detail-box p {
  margin-bottom: 0;
}

.app_section .detail-box .app_btn_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 0;
}

.app_section .detail-box .app_btn_box a {
  width: 145px;
}

.app_section .detail-box .download_btn {
  display: inline-block;
  padding: 12px 45px;
  background-color: #ffe537;
  color: #000000;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #ffe537;
  outline: none;
}

.app_section .detail-box .download_btn:hover {
  background-color: transparent;
  color: #ffe537;
}

.about_section .box {
  text-align: center;
}

.about_section img {
  margin-top: 45px;
  max-width: 100%;
}

.about_section .detail-box p {
  margin-top: 15px;
}

.about_section .detail-box a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #3378e4;
  border-radius: 100%;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.about_section .detail-box a:hover {
  background-color: #ffe537;
  color: #000000;
}

.news_section .box {
  text-align: center;
  margin-top: 45px;
}

.news_section .box .img-box img {
  -webkit-filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0 2px 7px rgba(0, 0, 0, 0.3));
  border-radius: 45px;
}

.news_section .box .detail-box {
  margin-top: 25px;
}

.news_section .box .detail-box h4 {
  font-weight: bold;
}

.news_section .box .detail-box a {
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #3378e4;
  border-radius: 100%;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news_section .box .detail-box a:hover {
  background-color: #ffe537;
  color: #000000;
}

.client_section {
  text-align: center;
}

.client_section .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 45px;
}

.client_section .detail-box h4 {
  font-weight: bold;
  margin-bottom: 0;
}

.client_section .detail-box p {
  margin: 20px 0;
}

.client_section .detail-box i.fa-quote-left {
  font-size: 24px;
  color: #3378e4;
}

.client_section .carousel-control-next {
  position: unset;
  width: 45px;
  height: 45px;
  line-height: 45px;
  background-color: #ffe537;
  border-radius: 100%;
  font-size: 12px;
  color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  margin: auto;
  margin-top: 25px;
}

.client_section .carousel-control-next:hover {
  background-color: #3378e4;
  color: #ffffff;
}

.footer_container {
  background-image: url(../images/footer-bg.png);
  background-size: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: top;
  padding-top: 115px;
  margin-top: -175px;
}

.info_section {
  color: #ffffff;
  padding: 45px 0;
  background-color: #3378e4;
}

.info_section .contact_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 350px;
  margin: auto;
}

.info_section .contact_box a {
  margin: 0 10px;
  font-size: 24px;
  color: #ffffff;
}

.info_section .contact_box a:hover {
  color: #ffe537;
}

.info_section .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .social_box a {
  margin: 0 20px;
  font-size: 18px;
  color: #ffffff;
}

.info_section .social_box a:hover {
  color: #ffe537;
}

.info_section .info_links {
  margin: 25px 0;
}

.info_section .info_links ul {
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .info_links ul li {
  list-style-type: none;
  position: relative;
  margin: 0 15px;
}

.info_section .info_links ul li a {
  color: #ffffff;
}

.info_section .info_links ul li a:hover {
  color: #ffe537;
}

/* footer section*/
.footer_section {
  position: relative;
  text-align: center;
  background-color: #3378E4;
}

.footer_section p {
  color: #ffffff;
  padding-bottom: 25px;
  margin: 0;
}

.footer_section p a {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */


.footer-widget p {
  margin-bottom: 27px;
}

/* p {
      font-family: 'Nunito', sans-serif;
      font-size: 16px;
      color: rgb(0, 0, 0);
      line-height: 28px;
    } */

.animate-border {
  position: relative;
  display: block;
  width: 115px;
  height: 3px;
  background: #ff0000;
}

.animate-border:after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #fff;
  border-right: 10px solid #fff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

@-webkit-keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(113px);
  }
}

@keyframes animborder {
  0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  100% {
    -webkit-transform: translateX(113px);
    transform: translateX(82px);
  }
}

.animate-border.border-white:after {
  border-color: #fff;
}

.animate-border.border-yellow:after {
  border-color: #F5B02E;
}

.animate-border.border-orange:after {
  border-right-color: #007bff;
  border-left-color: #007bff;
}

.animate-border.border-ash:after {
  border-right-color: #EEF0EF;
  border-left-color: #EEF0EF;
}

.animate-border.border-offwhite:after {
  border-right-color: #F7F9F8;
  border-left-color: #F7F9F8;
}

/* Animated heading border */
@keyframes primary-short {
  0% {
    width: 15%;
  }

  50% {
    width: 90%;
  }

  100% {
    width: 10%;
  }
}

@keyframes primary-long {
  0% {
    width: 80%;
  }

  50% {
    width: 0%;
  }

  100% {
    width: 80%;
  }
}

.dk-footer {
  padding: 75px 0 0;
  background-color: #3378e4;
  position: relative;
  z-index: 2;
}

.dk-footer .contact-us {
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 80px;
}

.dk-footer .contact-us .contact-info {
  margin-left: 50px;
}

.dk-footer .contact-us.contact-us-last {
  margin-left: -80px;
}

.dk-footer .contact-icon i {
  font-size: 24px;
  top: -15px;
  position: relative;
  color: #00ff62;
}

.dk-footer-box-info {
  position: absolute;
  top: -122px;
  background: #468dff;
  padding: 40px;
  z-index: 2;
}

.dk-footer-box-info .footer-social-link h3 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 25px;
}

.dk-footer-box-info .footer-social-link ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dk-footer-box-info .footer-social-link li {
  display: inline-block;
}

.dk-footer-box-info .footer-social-link a i {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  background: #000;
  margin-right: 5px;
  color: #fff;
}

.dk-footer-box-info .footer-social-link a i.fa-facebook {
  background-color: #3B5998;
}

.dk-footer-box-info .footer-social-link a i.fa-twitter {
  background-color: #55ACEE;
}

.dk-footer-box-info .footer-social-link a i.fa-google-plus {
  background-color: #DD4B39;
}

.dk-footer-box-info .footer-social-link a i.fa-linkedin {
  background-color: #0976B4;
}

.dk-footer-box-info .footer-social-link a i.fa-instagram {
  background-color: #e01b6a;
}

.footer-awarad {
  margin-top: 285px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -moz-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-awarad p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  margin-left: 20px;
  padding-top: 15px;
}

.footer-info-text {
  margin: 26px 0 32px;
}

.footer-left-widget {
  padding-left: 80px;
}

.footer-widget .section-heading {
  margin-bottom: 35px;
}

.footer-widget h3 {
  font-size: 24px;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.footer-widget ul {
  width: 50%;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-widget li {
  margin-bottom: 18px;
}

.footer-widget p {
  margin-bottom: 27px;
}

.footer-widget a {
  color: #ffffff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-widget a:hover {
  color: #ff0000;
}

.footer-widget:after {
  content: "";
  display: block;
  clear: both;
}

.dk-footer-form {
  position: relative;
}

.dk-footer-form input[type=email] {
  padding: 14px 28px;
  border-radius: 50px;
  background: #ffffff;
  border: 1px solid #ff0000;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::-webkit-input-placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form input::-webkit-input-placeholder,
.dk-footer-form input::-moz-placeholder,
.dk-footer-form input:-ms-input-placeholder,
.dk-footer-form input::-ms-input-placeholder,
.dk-footer-form input::placeholder {
  color: #878787;
  font-size: 14px;
}

.dk-footer-form button[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  padding: 12px 24px 12px 17px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid #3378e4;
  background: #3378e4;
  color: #fff;
}

.dk-footer-form button:hover {
  cursor: pointer;
}

/* ==========================

    Contact

=============================*/
.contact-us {
  position: relative;
  z-index: 2;
  margin-top: 65px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact-icon {
  position: absolute;
}

.contact-icon i {
  font-size: 36px;
  top: -5px;
  position: relative;
  color: #007bff;
}

.contact-info {
  margin-left: 75px;
  color: #fff;
}

.contact-info h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 0;
}

.copyright {
  padding: 28px 0;
  margin-top: 55px;
  background-color: #ffffff;
}

.copyright span,
.copyright a {
  color: #878787;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.copyright a:hover {
  color: #007bff;
}

.copyright-menu ul {
  text-align: right;
  margin: 0;
}

.copyright-menu li {
  display: inline-block;
  padding-left: 20px;
}

.back-to-top {
  position: relative;
  z-index: 2;
}

.back-to-top .btn-dark {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 0;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e2e2e;
  border-color: #2e2e2e;
  display: none;
  z-index: 999;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.back-to-top .btn-dark:hover {
  cursor: pointer;
  background: #FA6742;
  border-color: #FA6742;
}

.the-story-in-footer {
  color: white;
}